extends default

block content
  include template/nav
  div(class=['ui','container','grid','stackable'])
    div(class=['sixteen','wide','column'])
      h3(class=['ui','centered','header','blue'])= 'EMPRESA DOMINICANA LA CONFIANZA'
      h4(class=['ui','centered','header','blue'])= 'GRUPO POPULAR'
      
      //img(class=['ui rounded image'] src='http://www.gurabolive.com/wp-content/uploads/2011/07/camion.jpg')
      img(class=['ui centered rounded image'] src='http://eljaya.com/images/-201800/01/15BancoPopularLogo.jpg') 
  
